.players-container {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
}

.no-players-message {
  font-size: 18px;
  color: gray;
  margin-top: 20px;
}

.player-card {
  display: flex;
  align-items: center;
  background-color: #f2f2f2; 
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px; 
  border-bottom: 2px solid white; 
}

.player-thumbnail img {
  width: 80px; 
  height: 80px;
  border-radius: 5px; 
  object-fit: cover; 
  margin-right: 15px; 
}

.player-info h4 {
  margin: 0;
  font-size: 18px;
}

.player-info p {
  margin: 5px 0;
  font-size: 14px;
}
